
a, button {

	&:hover, &:focus {
		outline: 0;
		box-shadow: none !important;
	}
}

a, button {

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
	}
}

.btn {
	border: 0;
	z-index: 1;
	color: $white;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	overflow: hidden;
	position: relative;
	border-radius: 700px;
	background-color: $primary;
	display: inline-block;
	box-sizing: border-box;
	padding: 14px 24px 14px 24px;
	@include transition(all 0.3s);

	&:after {
		top: 50%;
		left: 50%;
		height: 0%;
		width: 100%;
		content: "";
		z-index: -1;
		position: absolute;
		background: $primary;
		transition: all 0.4s ease;
		@include transform(translate(-50%,-50%) rotate(-45deg));
	}

	&.btn-lg {
		width: 640px;
		height: 60px;
		font-size: 17px;
		font-weight: 700;
		border-radius: 8px;
		padding: 17.5px 30px;

	}

	&.border-none {
		border-radius: 0px !important;
	}

	.btn-lg:hover, &:focus {
		background-color: $secondary;
	}

	&.btn-sm {
		padding: 12px 20px;
	}

	&.btn-green {
		color: $white;
		font-size: 16px;
		font-weight: 500;
		padding: 16px 27px;
		background-color: $secondary;
	}

	&.btn-primary {
		background: $primary;

		&:after {
			background: $secondary;
		}

		&:hover, &:focus {
			background: $secondary;
		}
	}

	&.btn-secondary {
		background-color: $secondary;
	}

	&.btn-hover-green {

		&:after {
			background-color: $secondary !important;
		}

		&:hover, &:focus {
			background: $secondary;
		}
	}

	// &.btn-info {
	// 	background-color: $info;
	// }

	&.btn-white {
		color: $black;
		background-color: $white;
	}

	&.btn-border {
		color: $primary;
		border: 2px solid $primary;
		background-color: transparent;
		padding: 12px 22px 12px 22px;
	}
	&.btn-border-white {
		color: $white;
		border: 2px solid $white;
		background-color: transparent;
		padding: 12px 22px 12px 22px;
	}

	&:hover, &:focus {
		color: $white;

		&.btn-border-white {
			color: $primary;
			background-color: $white;
		}

		&:after {
			height: 380%;
		}
	}
}

.btn-info {
    border: 0;
    z-index: 1;
    color: $white;
    font-size: 15px;
    overflow: hidden;
    font-weight: 600;
    padding: 16px 40px;
    position: relative;
    font-family: $inter;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    @include transition(.4s);
    background-color: $primary;
    box-shadow: 0px 8px 16px 0px rgba(235, 4, 79, 0.20);

    @media (max-width: 480px) {
        padding: 12px 24px;
    }

    &:after {
        top: 50%;
        left: 50%;
        height: 0%;
        width: 100%;
        content: "";
        z-index: -1;
        position: absolute;
        background: $secondary;
        @include transition(.4s);
        @include transform(translate(-50%,-50%) rotate(-45deg));
    }

    i {
        font-size: 12px;
        margin-left: 5px;
    }

    &:hover, &:focus {
        background: $secondary;

        &:after {
            height: 380%;
        }
    }
}
