.content-area {
	overflow: hidden;

	.hm-3-banner {
	z-index: 1;
	height: 869px;
	overflow: hidden;
	position: relative;
	background-color: $black;

	@media (max-width: 991px) {
		height: 800px;
	}
	@media (max-width: 767px) {
		height: 660px;
	}
	@media (max-width: 680px) {
		height: 550px;
	}
	@media (max-width: 480px) {
		height: 525px;
	}

	&:before {
		top: 53px;
		content: "";
		left: -71px;
		width: 241px;
		height: 241px;
		position: absolute;
		background-image: url(../images/home-3/blard-pattan.png);
	}

	&:after {
		top: -70px;
		content: "";
		z-index: -1;
		right: 0px;
		width: 1414px;
		height: 937px;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		animation: moving 9s linear infinite;
		background-image: url(../images/home-3/banner.svg);
	}

	.banner-content {
		position: relative;
		padding-top: 186px;

		@media (max-width: 1199px) {
			padding-top: 160px;
		}
		@media (max-width: 991px) {
			padding-top: 120px;
		}
		@media (max-width: 767px) {
			padding-top: 80px;
		}
		@media (max-width: 680px) {
			padding-top: 50px;
		}
		@media (max-width: 480px) {
			padding-top: 40px;
		}

		&:before {
			left: 50%;
			top: 697px;
			content: "";
			width: 76px;
			height: 76px;
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			    animation: circle 8s ease-in-out infinite;
			background-image: url(../images/home-3/angel.svg);

			@media (max-width: 991px) {
				top: 600px;
			}
			@media (max-width: 767px) {
				top: 500px;
			}
			@media (max-width: 680px) {
				top: 425px;
				width: 65px;
				height: 65px;
			}			
			@media (max-width: 575px) {
				top: 437px;
				width: 50px;
				height: 50px;
				left: 44%;
			}
			@media (max-width: 480px) {
				
			}
		}

		&:after {
			top: 560px;
			content: "";
			left: -150px;
			width: 117px;
			height: 66px;
			position: absolute;
			background-repeat: no-repeat;
			background-image: url(../images/home-3/shap.png);
		}

		.title {
			color: $white;
			font-size: 100px;
			font-weight: 700;
			line-height: 120px;
			letter-spacing: -2px;
			font-family: $grotesk;
			text-transform: uppercase;

			@media (max-width: 1199px) {
				font-size: 80px;
				line-height: 110px;
			}
			@media (max-width: 991px) {
				font-size: 65px;
				line-height: 85px;
			}
			@media (max-width: 767px) {
				font-size: 55px;
				line-height: 70px;
			}
			@media (max-width: 680px) {
				font-size: 40px;
				line-height: 55px;
			}
			@media (max-width: 480px) {
				font-size: 33px;
				line-height: 45px;
			}

			span {
				font-size: 100px;
				font-weight: 800;
				color: transparent;
				line-height: normal;
				opacity: 0.6;
				-webkit-text-stroke: 1px #fff;

				@media (max-width: 1199px) {
					font-size: 80px;
					line-height: 110px;
				}
				@media (max-width: 991px) {
					font-size: 65px;
					line-height: 85px;
				}
				@media (max-width: 767px) {
					font-size: 55px;
					line-height: 70px;
				}
				@media (max-width: 680px) {
					font-size: 40px;
				    line-height: 55px;	
				}
				@media (max-width: 480px) {
					font-size: 33px;
					line-height: 45px;
				}
			}
		}

		.des {
			width: 770px;
			color: $white;
			padding-top: 18px;
			margin-top: -8px;
			margin-bottom: 51px;

			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 30px;
			}
			@media (max-width: 480px) {
				font-size: 16px;
			}
		}

		.icon-wrapper {
			bottom: 8px;
			left: 224px;
			margin-top: -10px;
			display: flex;
			cursor: pointer;
			position: absolute;
			align-items: center;

			@media (max-width: 480px) {
				left: 162px;
			}

			.youtube-video {
			  display: flex;
			  position: relative;
			  align-items: center;
			  justify-content: center;

				&:hover {

					&:after {
						border-color: transparent;
						background-color: $secondary;
					}
				}

			  img {
			  	width: 100%;
			  	max-width: 100%;
			  	position: relative;
			  }

			  &:before {
			  	top: 0;
			  	left: 0;
			  	z-index: 1;
			  	content: "";
			  	width: 100%;
			  	height: 100%;
			  	opacity: 50%;
			  	position: absolute;
			  	background: rgb(3, 4, 29);
			  }

			  &:after {
			    z-index: 2;
			    margin: auto;
			    color: $white;
			    height: 50px;
			    display: flex;
			    line-height: 0;
			    font-size: 16px;
			    min-width: 50px;
			    content: "\e812";
			    text-indent: 5px;
			    position: absolute;
			    align-items: center;
			    border-radius: 500px;
			    font-family: "dailo";
			    transform: scale(1.2);
			    justify-content: center;
			    border: 1px solid $white;
			    @include transition(all 0.3s ease);
			    animation: playVideo infinite 3s;

			   	@media (max-width: 480px) {
			   		height: 35px;
		   		    min-width: 35px;
		   		    font-size: 14px;
			   	}
			  }
			}

			.text {
				margin-left: 32px;

				@media (max-width: 480px) {
					margin-left: 24px;
				}
				span {
					color: $white;
					margin-left: 12px;
					text-decoration: underline;
					transition: all 0.3s ease;

					@media (max-width: 480px) {
						font-size: 14px;
					}

					&:hover, :focus {
						color: $secondary;
					}
				}
			}
		}
	}
	}

	.banner-bottom {
		background: #C9F31D;
		overflow: hidden;

		marquee, .marquee {
			color: $black;
			font-size: 40px;
			font-weight: 500;
			list-style: none;
			font-family: $grotesk;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			-webkit-text-stroke: 1px $black;

			@media (max-width: 991px) {
				font-size: 35px;
			}
			@media (max-width: 680px) {
				font-size: 30px;
			}

			span {
				font-size: 40px;
				font-weight: 500;
				color: transparent;
				line-height: normal;
				text-transform: uppercase;
				-webkit-text-stroke: 1px #3D3D3D;

				@media (max-width: 991px) {
					font-size: 35px;
				}
				@media (max-width: 680px) {
					font-size: 30px;
				}

				&.mr-50 {
					margin-left: 50px;

					@media (max-width: 991px) {
						margin-left: 40px;
					}
					@media (max-width: 680px) {
						margin-left: 30px;
					}
				}
			}

			img {
				margin: 0px 50px;
				padding: 34px 0;
				width: 42px;

				@media (max-width: 991px) {
					margin: 0px 40px;
					padding: 25px 0;
					width: 35px;
				}
				@media (max-width: 680px) {
					width: 30px;
					margin: 0px 30px;
				}
			}
		}

		.scrolling-text {
			white-space: nowrap;
			animation: scroll-left 50s linear infinite;
		}
	}
	.hm-3-agency {
		overflow: hidden;
		padding-top: 156px;
		padding-bottom: 160px;

		@media (max-width: 1199px) {
			padding-top: 140px;
			padding-bottom: 80px;
		}
		@media (max-width: 991px) {
			padding-top: 100px;
			padding-bottom: 60px;
		}
		@media (max-width: 767px) {
			padding-top: 70px;
			padding-bottom: 40px;
		}
		@media (max-width: 767px) {
			padding-top: 50px;
			padding-bottom: 30px;
		}

		.entry-title {
			margin-top: 59px;
			margin-left: -180px;

			@media (max-width: 1199px) {
				margin-top: 130px;
				margin-left: 0px;
			}

			@media (max-width: 991px) {
			}

			@media (max-width: 767px) {
			}

			.title {
				width: 700px;
				color: #03041D;
				font-size: 60px;
				font-weight: 700;
				line-height: 66px;
				line-height: 66px; 
				font-family: $grotesk;
				letter-spacing: -1.2px;

				@media (max-width: 1199px) {
				    width: 100%;
				    font-size: 50px;
				    line-height: 60px;
				}
				@media (max-width: 991px) {
				    font-size: 45px;
				    line-height: 60px;
				}
				@media (max-width: 767px) {
				    font-size: 35px;
				    line-height: 45px;
				}

				@media (max-width: 767px) {
				    font-size: 30px;
				}
			}
		}

		.text {
			margin-top: 68px;
			margin-left: -55px;

			@media (max-width: 991px) {
				margin-top: 30px;
			}

			p {
				width: 500px;
				font-size: 16px;
				line-height: 25px;
				margin-bottom: 30px;

				@media (max-width: 1199px) {
					width: 100%;	
				}
			}

			ul {

				&:before {
					content: "";
					bottom: 50px;
					width: 100px;
					right: -115px;
					height: 100px;
					position: absolute;
					-webkit-animation: left-to-right 4s ease-in-out infinite;
					background-image: url(../images/home-3/agency-pattan-3.svg);

					@media (max-width: 1199px) {
						display: none;
					}
				}

				li {
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 16px;

					&:before {
						width: 8px;
						height: 6px;
						padding: 8px;
						color: $white;
						content: "\f00c";
						margin-right: 10px;
						background: $primary;
						border-radius: 500px;
						font-family: "Font Awesome 5 Pro";
					}
				}
			}

			a {
				margin-top: 34px;
			}
		}

		&:before {
			top: 207px;
			content: "";
			left: 211px;
			width: 333px;
			height: 555px;
			position: absolute;
			border: 2px solid #EB044F;

			@media (max-width: 1199px) {
				top: 192px;
				left: 113px;
			}

			@media (max-width: 991px) {
				display: none;
			}
		}

		.media-wrapper {

			&:before {
				top: -26px;
				left: 164px;
				content: "";
				width: 330px;
				height: 555px;
				position: absolute;
				border: 2px solid #EB044F;

				@media (max-width: 991px) {
					width: 290px;
					height: 440px;
				}

				@media (max-width: 480px){
					display: none;
				}
			}

			&:after {
				left: 77px;
				width: 61px;
				content: "";
				height: 34px;
				bottom: -50px;
				position: absolute;
				background-size: cover;
				-webkit-animation: top-to-bottom 4s ease-in-out infinite;
				background-image: url(../images/home-3/agency-2.svg);

				@media (max-width: 480px){
					display: none;
				}
			}

			.media {
				position: relative;

				.agency {
					margin-top: -70px;
					-webkit-animation: top-to-bottom 4s ease-in-out infinite;

					@media (max-width: 575px) {
						display: none;
					}
				}

				img {

					&.frist {
						position: relative;

						@media (max-width: 991px) {
							width: 280px;
						}
						@media (max-width: 480px) {
							width: 220px;
						}

					}

					&.secend {
						left: 270px;
						bottom: -83px;
						position: absolute;
						box-shadow: 0px 10px 50px 0px rgba(3, 4, 29, 0.25);

						@media (max-width: 1199px) {
							left: 236px;
						}
						@media (max-width: 991px) {
							left: 157px;
							width: 240px;
						}
						@media (max-width: 480px) {
							width: 200px;
							left: 90px;
						}
					}
				}
			}

			.icon-wrapper {
				top: 197px;
				left: 218px;
				width: 130px;
				z-index: 1;
				display: flex;
				height: 130px;
				align-items: center;
				position: absolute;
				text-align: center;
				justify-content: center;

				@media (max-width: 1199px) {
					left: 187px;
				}

				@media (max-width: 991px) {
					left: 107px;
					top: 138px;
				}

				@media (max-width: 480px) {
					left: 41px;
					top: 100px;
				}

				&:hover, &:focus {
					cursor: pointer;
				}

				&:after {
					content: "";
					width: 130px;
					height: 130px;
					display: flex;
					z-index: 99999;
					text-align: center;
					align-items: center;
					background-size: cover;
					justify-content: center;
					background-repeat: 	no-repeat;
					animation: circle 8s ease-in-out infinite;
					background-image: url(../images/home-3/agency-brand.svg);

					@media (max-width: 991px) {
						width: 100px;
						height: 100px;
					}

					@media (max-width: 480px) {
						width: 80px;
						height: 80px;
					}
				}

				i {
					display: flex;
					z-index: 999999;
					text-align: center;
					position: absolute;
					color: $white;
					align-items: center;
					justify-content: center;
				}
			}
		}

	}
	.hm-3-new-articles {
		padding-top: 140px;
		padding-bottom: 160px;

		@media (max-width: 991px) {
		    padding-top: 40px;
		    padding-bottom: 100px;
		}
		@media (max-width: 991px) {
	    	padding-top: 30px;
	    	padding-bottom: 70px;
		}
		@media (max-width: 680px) {
	    	padding-top: 30px;
	    	padding-bottom: 60px;
		}

		.entry-title {

			.hm-title{
				font-size: 60px;
				font-weight: 700;
				line-height: 66px;
				margin-bottom: 30px;
				font-family: $grotesk;

				@media (max-width: 991px) {
				    font-size: 45px;
				    line-height: 60px;
				}
				@media (max-width: 767px) {
				    font-size: 35px;
				    line-height: 45px;
				}

				@media (max-width: 680px) {
				  margin-bottom: 0px;
				  font-size: 30px;
				}
			}
		}

		&__item {

			.media {
				overflow: hidden;
				margin-top: 30px;

				img {
					width: 100%;
					transition: all 0.3s ease;
				}
			}

			a:any-link:hover {
				
				h6 {
					color: $primary;
				}
				
				img {
					transform: scale(1.1);
				}
			}

			.info {
				display: flex;
				color: #525257;
				margin-top: 20px;
				p {
					font-size: 14px;
					margin-right: 10px;
					margin-bottom: 8px;
				}

				span {
					font-size: 14px;
					padding-left: 20px;
					position: relative;

					&:after {
						top: 15px;
						width: 4px;
						height: 4px;
						left: 0px;
						content: "";
						position: absolute;
						border-radius: 100%;
						background-color: #525257;
					}
				}
			}
		}
		.title {
			color: $black;
			font-size: 22px;
			padding-bottom: 25px;
			border-bottom: 1px solid rgba(3, 4, 29, 0.14);
		}

		.red-more {
			margin-top: 18px;
			gap: 5px;
			display: flex;
			align-items: center;
			color: #03041D;
			text-align: right;
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			span {
				font-size:14px;
				font-weight:500;
			}

			&:hover, :focus {
				color: $primary;
			}

			&:hover span {
				margin-left: 10px;
				color: $primary;
			}
		}
	}

	.hm-3-suport {
		padding-top: 140px;
		overflow: hidden;
		padding-bottom: 56px;

		@media (max-width: 991px) {
	    	padding-top: 40px;
	    	padding-bottom: 30px;
		}
		@media (max-width: 767px) {
	    	padding-top: 30px;
		}

		.entry-title {
			margin-bottom: 57px;
			position: relative;

			@media (max-width: 991px) {
			    margin-bottom: 30px;
			}
			@media (max-width: 767px) {
			    margin-bottom: 20px;
			}

			&:before {
				top: 0;
				left: 100%;
				width: 1px;
				content: "";
				height: 56px;
				position: absolute;
				background: rgba(11, 15, 40, 0.10);

				@media (max-width: 680px) {
			    	display: none;
				}

			}
			.hm-title {
				font-size: 60px;
				font-weight: 700;
				font-family: $grotesk;

				@media (max-width: 991px) {
				    font-size: 45px;
				    line-height: 60px;
				}
				@media (max-width: 767px) {
				    font-size: 35px;
				    line-height: 45px;
				}

				@media (max-width: 680px) {
				    font-size: 30px;
				}
			}
		}

		.des {
			font-size: 16px;
			font-weight: 400;
			max-width: 500px;
			margin-left: auto;
			line-height: 25px;
			margin-bottom: 55px;

			@media (max-width: 991px) {
			    margin-bottom: 30px;
			}		
			@media (max-width: 767px) {
			    max-width: 100%;
			}
		}

		&__card {
			display: block;
			background: #FFF;
			margin-bottom: 30px;
			padding: 55px 40px 52px;
			transition: all 0.5s ease;
			border: 1px solid rgba(3, 4, 29, 0.10);

			@media (max-width: 767px) {
		    	padding: 30px;
			}
			@media (max-width: 480px) {
		    	padding: 15px;
			}

			&:hover, &:focus {
				box-shadow: 0px 10px 60px 0px rgba(3, 4, 29, 0.14);

				span {
					transform: translate(5px, 0px);
				}
			}
			
			a:any-link:hover {
				h6 {
					color: $primary;
				}
				
				span {
					color: $primary;
				}
			}

			.icon-wrapper {
				display: flex;
				align-items: center;
				margin-bottom: 49px;
				justify-content: space-between;

				@media (max-width: 680px) {
			    	margin-bottom: 30px;
				}
				@media (max-width: 480px) {
			    	margin-bottom: 20px;
				}

				i {
					width: 80px;
					height: 80px;
					display: flex;
					padding: 22px;
					color: $primary;
					font-size: 36px;
					align-items: center;
					border-radius: 500px;
					background: #EB044F1A;
					justify-content: center;	

					@media (max-width: 480px) {
				    	padding: 15px;
				    	font-size: 25px;
				    	width: 60px;
				    	height: 60px;
					}
				}

				.text {

					.number {
						color: $white;
						font-size: 80px;
						font-weight: 600;
						line-height: 60px;
						text-align: right;
						font-family: $inter;
						opacity: 0.10000000149011612;
						-webkit-text-stroke: 2px #03041DB2;

						@media (max-width: 767px) {
					    	font-size: 60px;
						}
						@media (max-width: 480px) {
					    	font-size: 40px;
						}
					}
				}
			}

			.skile {
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 7px;
			}

			p {
				color: #525257;
				font-size: 15px;
				line-height: 24px;
			}

			span {
				margin-top: 49px;
				font-size: 20px;
				font-weight: 400;
				color: #03041D;
				transition: all .3s ease;

				@media (max-width: 680px) {
			    	margin-top: 30px;
				}

				@media (max-width: 480px) {
			    	margin-top: 15px;
				}
			}
		}
	}

	.funfact-project-complete {
		padding-top: 56px;
		padding-bottom: 140px;

		@media (max-width: 991px) {
	    	padding-top: 30px;
	    	padding-bottom: 40px;
		}
		@media (max-width: 767px) {
	    	padding-top: 20px;
	    	padding-bottom: 20px;
		}

		&__item  {
			position: relative;
			margin-bottom: 50px;

			@media (max-width: 480px) {
		    	margin-bottom: 30px;		
		    }
		    h3 {
		    	cursor: pointer;
		    	font-size: 120px;
		    	font-weight: 600;
		    	position: relative;
				letter-spacing: -20px;
		    	font-family: $grotesk;
		    	transition: all 0.3s ease;
		    	color: rgba(3, 4, 29, 0.06);

		    		@media (max-width: 991px) {
		    		   font-size: 100px;
		    		}
		    		@media (max-width: 767px) {
		    	    	font-size: 75px;
		    		}
		    		@media (max-width: 680px) {
		    	    	font-size: 60px;
		    		}
		    		@media (max-width: 480px) {
		    	    	font-size: 35px;
		    		}

				.shift {
					letter-spacing: -9px;
				}
				.counter {
					cursor: pointer;
					font-size: 120px;
					font-weight: 600;
					position: relative;
					margin-right: -28px;
					font-family: $grotesk;
					transition: all 0.3s ease;
					color: rgba(3, 4, 29, 0.06);

					@media (max-width: 991px) {
					   font-size: 100px;
					}
					@media (max-width: 767px) {
				    	font-size: 75px;
				    	padding-right: 10px;
					}
					@media (max-width: 680px) {
				    	font-size: 60px;
					}
					@media (max-width: 480px) {
				    	font-size: 35px;
				    	padding-right: 20px;
					}
				}
					&:hover, :focus {
						cursor: inherit;
						//opacity: 0.1000000015;
						//-webkit-text-stroke: 2px rgba(3, 4, 29, 0.6980392157);
					}
		    }

			.des {
				margin-top: -41px;
				font-size: 16px;
				font-weight: 600;
				margin-left: 145px;
				text-transform: uppercase;

				@media (max-width: 991px) {
			    	margin-left: 126px;
				}
				@media (max-width: 767px) {
			    	margin-left: 96px;
				}
				@media (max-width: 680px) {
			    	margin-left: 78px;
				}
				@media (max-width: 680px) {
			    	left: 80px;
				}

				@media (max-width: 480px) {
			    	left: 45px;
				}
			}
		}
	}

	.call-to-action {
		margin-top: 72px;
		height: 120px;
		margin-bottom: 76px;
		background: #C9F31D;

		@media (max-width: 991px) {
			margin-bottom: 60px;
			height: 104px;
		}

		@media (max-width: 767px) {
			margin-bottom: 40px;
			margin-top: 50px;
		}
		@media (max-width: 767px) {
			height: 97px;
			margin-top: 40px;
			margin-bottom: 30px;
		}
		@media (max-width: 575px) {
			height: 92px;
		    margin-top: 10px;
		    margin-bottom: 15px;
		}
		@media (max-width: 480px) {
			height: 79px;
		}


		marquee, .marquee {
			color: $white;
			display: flex;
			font-size: 40px;
			margin-left: -4px;
			font-weight: 500;
			list-style: none;
			align-items: center;
			font-family: $grotesk;
			justify-content: center;
			text-transform: uppercase;
			-webkit-text-stroke: 1px #fff;
			transform: rotate(-3deg);
			background: linear-gradient(180deg, #FF5189 0%, #EB044F 100%);

			@media (max-width: 991px) {
				font-size: 35px;
			}
			@media (max-width: 680px) {
				font-size: 30px;
			}
			@media (max-width: 480px) {
				font-size: 20px;
			}

			span {
				font-size: 40px;
				font-weight: 500;
				color: transparent;
				line-height: normal;
				text-transform: uppercase;
				-webkit-text-stroke: 1px #fff;

				@media (max-width: 991px) {
					font-size: 35px;
				}
				@media (max-width: 680px) {
					font-size: 30px;
				}
				@media (max-width: 480px) {
					font-size: 20px;
				}

				&.mr-50 {
					margin-left: 50px;

					@media (max-width: 991px) {
						margin-left: 40px;
					}
					@media (max-width: 680px) {
						margin-left: 30px;
					}
					@media (max-width: 480px) {
						margin-left: 20px;
					}
				}
			}

			img {
				margin: 0px 50px;
				padding: 34px 0;
				width: 42px;

				@media (max-width: 991px) {
					margin: 0px 40px;
					padding: 25px 0;
					width: 35px;
				}
				@media (max-width: 680px) {
					width: 30px;
					margin: 0px 30px;
				}
				@media (max-width: 480px) {
					width: 20px;
					margin: 0px 20px;
				}
			}
		}

		.scrolling-text {
			white-space: nowrap;
			animation: scroll-left 50s linear infinite;
		}
	}

	.hm-3-best-hero {
		padding-top: 50px;
		padding-bottom: 168px;

		@media (max-width: 1199px) {
			padding-top: 40px;
			padding-bottom: 130px;
		}
		@media (max-width: 991px) {
			padding-top: 30px;
			padding-bottom: 100px;
		}
		@media (max-width: 767px) {
			padding-top: 20px;
			padding-bottom: 60px;
		}
		@media (max-width: 680px) {
			padding-bottom: 50px;
		}
		@media (max-width: 575px) {
			padding-bottom: 30px;
		}

		.entry-title {
			text-align: center;
			margin-bottom: 60px;

			@media (max-width: 991px) {
				margin-bottom: 50px;
			}
			@media (max-width: 767px) {
				margin-bottom: 40px;
			}
			@media (max-width: 680px) {
				margin-bottom: 30px;
			}
			@media (max-width: 991px) {
			}

			.title {
				font-size: 60px;
				margin-bottom: 20px;
				line-height: 70px;
				font-family: $grotesk;


				@media (max-width: 991px) {
				    font-size: 45px;
				    line-height: 60px;
				}
				@media (max-width: 767px) {
				    font-size: 35px;
				    line-height: 45px;
				}

				@media (max-width: 680px) {
				    font-size: 30px;
				}
			}

			p {

			}
		}

		.media {
			position: relative;

			img {
				width: 100%;
				width: 100%;
			}
		}

		.hm-3-best-hero-slider {

			@media (max-width: 767px) {
				margin-bottom: -30px;
			}
			.slick-slider {
			}
			.slick-slide {
			    text-align:center;
			    margin-right:15px;
			    margin-left:15px;
			}
			&__item {
				position: relative;
				margin-bottom: 50px;
				overflow: hidden;

				&:hover {
					.hm-3-thum  {

						&:before {
							opacity: 1 !important;
						}
					}
					.text {
						background: transparent !important;
						box-shadow: none !important;;
					}
					.icon-wrapper {
						opacity: 1 !important;
					}
				}

				.hm-3-thum {
					transition: all 0.6s ease;
					
					a:any-link:hover {
						h6 {
							color: $primary !important;
						}
					}

					&:before {
						content: "";
						opacity: 0;
						top: 30px;
						left: 30px;
						right: 30px;
						bottom: 30px;
						position: absolute;
						transition: all 0.6s ease;
						backdrop-filter: blur(2px);
						background: rgba(255, 255, 255, 0.80);
					}

					img {
						width: 100%;
						max-width: 100%;
					}
					.card-content {
						

						.icon-wrapper {
							top: 0px;
							opacity: 0;
							right: 54px;	
							top: 54px;	
							position: absolute;
							transition: all 0.3s ease;
							text-align: -webkit-right;

							a {
								&:hover, &:focus {

									i {
										background-color: $primary;
									}
								}
							}

							i {
							width: 40px;
							height: 40px;
							color: $white;
							display: flex;
							text-align: center;
							margin-bottom: 10px;
							align-items: center;
							background: $secondary;
							border-radius: 500px;
								transition:all 0.3s ease;
							justify-content: center;

							}
						}

						.text {
							left: 30px;	
							right: 30px;	
							bottom: 30px;
							position: absolute;
							text-align: initial;
							padding: 30px 25px;
							background: $white;
							transition: all 0.6s ease;
							box-shadow: 0px 10px 20px 0px rgba(3, 4, 29, 0.10);

							.title {
								color: #03041D;
								font-size: 18px;
								font-weight: 700;
								line-height: normal;
								margin-bottom: 8px;
							}

							.name {
								color: #525257;
								font-size: 16px;
								font-weight: 400;
								line-height: normal;
							}
						}
					}

					.content-visible {
						width: 310px;
						height: 410px;
						flex-shrink: 0;
						background: black;
						margin-left: auto;
						margin-right: auto;
					}

				}
			}
		}
		.slick-dots {
			display: flex;
			margin-left: 0px;
			list-style-type: none;
			justify-content: center;

			@media (max-width: 767px) {
				display: none !important;
			}
			
			li {
				margin: 0 5px;

				button {
					outline: 0;
					width: 14px;
					font-size: 0;
					line-height: 0;
					display: flex;
					position: relative;
					align-items: center;
					border-radius: 16px;
					padding: 0 !important;
					justify-content: center;
					height: 14px !important;
					border: 1px solid rgba(0, 0, 0, 0.20);
					background-color: transparent !important;

					// &:before {
					// 	display: none !important;
					// }

					&:before {
						top: auto;
						left: auto;
						width: 6px;
						content: "";
						height: 6px;
						border-radius: 6px;
						position: absolute;
						background: transparent;
					}
				}

				&.slick-active {

					button {

						&:before {
							background: #EB044F;
						}
					}
				}
			}	
		}
	}

	.hm-3-cio {
		padding-top: 120px;
		background: #EFF4F3;
		padding-bottom: 90px;

		@media (max-width: 1199px) {
			padding-top: 70px;
			padding-bottom: 10px;
		}
		@media (max-width: 991px) {
			padding-top: 50px;
			padding-bottom: 20px;
		}
		@media (max-width: 767px) {
			padding-top: 40px;
			padding-bottom: 30px;
		}
		
		.hm-3-cio-founder-slider {
			margin-left: 50px;

			@media (max-width: 1199px) {
				margin-left: 0;
			}
			@media (max-width: 991px) {
				margin-bottom: 0px;
			}

			&__item {
				display: flex;
				gap: 30px;
				align-items: center;
				justify-content: space-between;
				
				@media (max-width: 1199px) {
					align-items: start;
					flex-direction: column;
				}
				
				@media (max-width: 1199px) {
					gap: 40px;
				}
				
				@media (max-width: 767px) {
					gap: 30px;
				}
				
				&-media {
						width:440px;
						overflow: hidden;
					
					@media (max-width: 1199px) {
						max-width: 100%;
					}
					
					img {
						width: 100%;
					}
				}
				
				&-content {
					max-width: 603px;
					
					@media (max-width: 1199px) {
						max-width: 100%;
					}
					
					.icon-wrapper {
						margin-bottom: 19px;
						
						@media (max-width: 767px) {
							margin-top: 30px;
						}
						i {
							color: #EB044F;
							width: 49px;
							height: 37px;
							font-size: 49px;
						}
					}
					
					p {
						opacity: 0.8;
						color: #525257;
						font-size: 20px;
						font-weight: 400;
						line-height: 36px;
						font-family: $inter;
						margin-bottom: 30px;
					}
					
					.name {
						font-size: 18px;
						color: #03041D;
						font-size: 18px;
						font-weight: 700;
						
						&:hover, &:focus {
							//color: $secondary;
						}
					}
					
					.title {
						font-size: 16px;
						margin-bottom: 69px;
						
						@media (max-width: 991px) {
							margin-bottom: 40px;
						}
						@media (max-width: 767PX) {
							margin-bottom: 30px;
						}
						@media (max-width: 680PX) {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
		.slick-dots {
			//position: absolute;
			bottom: 0;
			//left: 0;
			
			@media (max-width: 1199px) {
				text-align: inherit;
				bottom: 20px;
			}

			@media (max-width: 1199px) {
				margin-left: 0px;
			}

			@media (max-width: 767px) {
				display: none !important;
			}
			
			li {
				margin: 0 5px;

				button {
					width: 20px;
					display: block;
					border-radius: 2px;
					text-indent: -9999px;
					padding: 0 !important;
					height: 4px !important;
					opacity: 0.699999988079071;
					background: rgba(3, 4, 29, 0.30)!important;
				}

				&.slick-active {

					button {
						background: $primary !important;
					}
				}
			}	
		}
	}


	.hm-3-clint {

		.entry-title {

			.hm-title {
				font-size: 60px;
				font-weight: 700;
				line-height: 70px;
				margin-bottom: 54px;
				font-family: $grotesk;


				@media (max-width: 991px) {
				    font-size: 45px;
				    line-height: 60px;
				    margin-bottom: 45px;
				}
				@media (max-width: 767px) {
				    font-size: 35px;
				    line-height: 45px;
				    margin-bottom: 30px;
				}

				@media (max-width: 680px) {
				    font-size: 30px;
				}
			}
		}

		.hm-3-clint-slider {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 60px;

			.slick-list {
				margin: 0 -15px;
			}
			.slick-slide>div {
				padding: 0 15px;
			}

			&__item {
			  display: block;
			  overflow: hidden;
			  position: relative;
			  margin-bottom: 0px;
				margin-left: 15px;
				margin-right:15px;

			  @media (max-width:991px) {
			    margin-bottom: 30px;
			  }
			  .media {
				  height: 500px;
			      position: relative;
			      z-index: -1;

			    img {
			      width: 100%;
					height: 100%;
					object-fit: cover;
			      // padding-right: 30px;
			    }
			  }

			  &:hover .content {
			     transform: translate(0, 0);
			    -webkit-transform: translate(0, 0);
			  }

			  &.top {
			    margin-top: -50px !important;

			    @media (max-width:767px) {
			      margin-top: 0px !important;
			    }
			  }

			  &.bottom {
			    margin-top: 40px;
			    margin-bottom: 40px;

			    @media (max-width:991px) {
			      margin-top: 0;
			      margin-bottom: 0px;
			    }
			    @media (max-width:767px) {
			      margin-bottom: 30px;
			    }
			  }

			  .content {
			   left: 0;
			   z-index: 1;
			   bottom: 40px;
			   overflow: hidden;
			   background: $white;
			   position: absolute;
			   transition: all 0.3s ease;
			   padding: 22px 30px 22px 30px !important;
			   transform: translate(-100%, 0);
			   -webkit-transition: all 0.3s ease;
			   -webkit-transform: translate(-100%, 0);
			   box-shadow: 0px 10px 20px 0px rgba(3, 4, 29, 0.10);
			   z-index: 1;

			    .title {
			      color: $black;
			      font-size: 18px;
			      font-weight: 800;
					
					&:hover {
						color:$primary;
					}
			    }

			     p {
			      color: #525257;
			      font-size: 14px;
			     }
			  }
			}
		}

		.slick-dots {
			display: flex;
			bottom: -75px;
			margin-left: 0px;
			list-style-type: none;
			justify-content: center;

			@media (max-width: 767px) {
				display: none !important;
			}
			
			li {
				margin: 0 5px;

				button {
					outline: 0;
					width: 14px;
					font-size: 0;
					display: flex;
					line-height: 0;
					position: relative;
					align-items: center;
					border-radius: 16px;
					padding: 0 !important;
					justify-content: center;
					height: 14px !important;
					border: 1px solid rgba(0, 0, 0, 0.20);
					background-color: transparent !important;

					// &:before {
					// 	display: none !important;
					// }

					&:before {
						top: auto;
						left: auto;
						width: 6px;
						content: "";
						height: 6px;
						border-radius: 6px;
						position: absolute;
						background: transparent;
					}
				}

				&.slick-active {

					button {

						&:before {
							background: #EB044F;
						}
					}
				}
			}	
		}
	}

	.hm-3-digital-strategy {
		padding-top: 50px;
		padding-bottom: 70px;

		@media (max-width: 991px) {
	    	padding-top: 30px;
	    	padding-bottom: 40px;
		}
		@media (max-width: 767px) {
	    	padding-top: 30px;
	    	padding-bottom: 20px;
		}
	}
}

.mfp-iframe-holder .mfp-content {
	max-width: 1400px;
}