/***********************************
HEADER STYLE
***********************************/
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
	overflow: hidden;
    background-color: $white;
    transition: all 0.3s ease;
    position: fixed !important;
	box-shadow: 2px 0px 3px 0px rgba(3, 4, 29, 0.10);

    &.custom-header {
        left: 0;
		height: 100%;
		max-width: 100px;
		padding: 40px 30px;
		//overflow-y: scroll;
        position: fixed !important;

		@media (max-width: 1660px) {
			max-width: 50px;
			padding: 30px 5px;
		}

		@media (max-width: 767px) {
			box-shadow: none;
			background: transparent;
		}

		.col {
			padding: 0;
		}

        .main-menu {
			display: flex;
			align-items: center;

            @media (max-width: 767px) {
            	display: none;
            }

            ul {
				height: 100%;
				display: flex; 
				align-items: center;
				flex-direction: column;
				justify-content: space-around;

                > li {
					list-style: none;

                    > a {
						display: block;
                        font-size: 16px;
                        font-weight: 600;
                        overflow: hidden;
                        line-height: 30px;
						padding: 15px 0;
						font-size: 20px;
						white-space: nowrap;
                        text-decoration: none;
                        font-family: $grotesk; 
						writing-mode: vertical-rl;
                        color: #03041D !important;
                        text-transform: capitalize;
						-webkit-transform: rotate(-180deg);
						-moz-transform: rotate(-180deg);
						filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

						@media (max-width: 1660px) {
							font-size:18px;
						}
                    }

                    &:hover, &:focus, &.active {

                        > a {
                            color: $primary !important;
                        }
                    }
                }
            }
        }

        .main-header-wraper {
			height: 100%;

			.container {
				padding: 0;
				height: 100%;

				.row, .all, .header-menu, .main-menu {
					height: 100%;
				}
			}

            .all {
            	display: flex;
				align-items: center;
				flex-direction: column;
            }

			#hamburger {
				transform: rotate(-90deg);
			}
        }
    }
}

.mobile-nav {
    top: 0;
    width: 320px;
    left: -380px;
    max-width: 100%;
    padding: 20px;
    z-index: 1032;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #fff;
    transition: left .5s ease-in;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        left: 0px;
    }

    .close-nav {
        border: 0;
        right: 20px;
        top: 20px;
        color: $black;
        font-size: 25px;
        position: absolute;
        border-radius: 30px;
        background: transparent;

        .fa-times-circle {
        	transition: all 0.10s ease;
	        	&:hover, &:focus {
	        	transform: rotate(360deg);
	        }
        }
    }

    .navigation {
        padding-top: 30px;

        .dalio-mobile-nav {
            overflow: hidden;
            transition: all 500ms ease;
        }

        ul {
            position: relative;

            > li {
                width: 100%;
                display: block;
                padding-top: 5px;
                border-bottom: 1px solid $white;

                &:last-child {
                    border-bottom: inherit;
                }

                > a {
                    color: $black;
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 0px;
                    line-height: 26px;
                    position: relative;
                    transition: all 0.3s;
                    background: transparent;
                    text-transform: capitalize;
                }
              
                &:hover, &:focus {

                    a {
                        color: $secondary;
                    }
                }
            }
        }
        .action-bar {
            margin-top: 20px;
            a {
                color: $black;
                display: block;
                font-size: 14px;
                font-weight: 700;
                padding: 5px 0px;
                line-height: 26px;
                position: relative;
                transition: all 0.3s;
                margin-top: 5px;

                &:hover, &:focus {
                	color: $secondary;
                }

                i {
                    margin-right: 10px;
                }

                &.btn-info {
                	margin-top: 20px;
                    text-align: center;
                    color: $white;
                    padding: 15px;
                }
            }
        }

        .dailo-social {
        	margin-top: 30px;
        	display: flex;

        	a {
        		i {
        			width: 40px;
        			padding: 5px;
        			height: 40px;
        			color: $black;
        			display: flex;
        			border: 1px solid;
        			margin-right: 30px;
        			text-align: center;
        			align-items: center;
        			justify-content: center;
        			transition: all 0.3s ease;
        			-webkit-font-smoothing: antialiased;

        			&:hover, &:focus {
        				color: $white;
        				background: $primary;
        				border: transparent;
        			}
        		}
        	}
        }

    }
}

#hamburger {
    display: block;
    line-height: 1;
    color: $black;
    font-size: 36px;
    text-align: right;
    
    i {
        cursor: pointer;
        color: $black;
        font-family: "Font Awesome 5 Pro";
    }
}

#primary {
	overflow: hidden;

	.hm-2-banner {
		overflow: hidden;
		padding-bottom: 90px;

		@media (max-width: 1199px) {
			padding-bottom: 70px;
		}
		@media (max-width: 991px) {
			padding-bottom: 50px;
		}
		@media (max-width: 767px) {
			padding-bottom: 30px;
		}

		.brand {
			overflow: hidden;

			&:before {
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				color: $black;
				content: "\f061";
				margin-top: 150px;
				position: absolute;
				margin-left: 136px;
				font-family: "Font Awesome 5 Pro";

				@media (max-width: 1199px) {
					margin-top: 156px;
					margin-left: 173px;
				}
				@media (max-width: 991px) {
					margin-top: 125px;
					margin-left: 155px;
				}
				@media (max-width: 767px) {
					margin-top: 104px;
					margin-left: 106px;
				}
				@media (max-width: 680px) {
					margin-top: 79px;
					margin-left: 100px;
					font-size: 18px;
				}
				@media (max-width: 575px) {
					margin-top: 68px;
				    font-size: 16px;
				    margin-left: 98px;
				}
				@media (max-width: 480px) {
					margin-top: 31px;
				    font-size: 12px;
				    margin-left: 82px;
				}
			}
			img {
				margin-top: 105px;
				position: relative;
				margin-left: 70px;
				animation: circle 8s ease-in-out infinite;

				@media (max-width: 1199px) {
					margin-top: 110px;
					margin-left: 105px;
				}
				@media (max-width: 991px) {
					margin-top: 90px;
					width: 100px;
					margin-left: 100px;
				}
				@media (max-width: 767px) {
			    margin-top: 70px;
			    margin-left: 54px;
				}
				@media (max-width: 680px) {
					width: 90px;
					margin-top: 50px;
					margin-left: 50px;
				}
				@media (max-width: 575px) {
					width: 80px;
			    margin-top: 45px;
			    margin-left: 50px;
				}
				@media (max-width: 480px) {
				    width: 50px;
				    margin-top: 20px;
				    margin-left: 48px;
				}
			}
		}

		.banner-content {
			display: flex;
			position: relative;
			margin-top: -122px;
			text-align: center;
			align-items: center;
			padding-bottom: 60px;
			justify-content: center;

			@media (max-width: 1199px) {
				padding-bottom: 60px;
				margin-left: 255px;
			}
			@media (max-width: 991px) {
				padding-bottom: 80px;
				margin-left: 29%;
				margin-top: -110px;
			}
			@media (max-width: 767px) {
				padding-bottom: 170px;
				margin-left: 29%;
				margin-top: -94px;
			}
			@media (max-width: 680px) {
				padding-bottom: 170px;
				margin-left: 34%;
			}
			@media (max-width: 575px) {
				margin-left: 34%;
				margin-top: -76px;
			}
			@media (max-width: 480px) {
				margin-left: 10%;
				margin-top: 25px;
			}

			.title {
				font-size: 160px;
				font-weight: 500;
				font-family: $grotesk;
				line-height: 160px;
				letter-spacing: -4.8px;

				@media (max-width: 1199px) {
					font-size: 130px;
					line-height: 140px;
				}
				@media (max-width: 991px) {
					font-size: 110px;
					line-height: 120px;
				}
				@media (max-width: 767px) {
					font-size: 90px;
					line-height: 100px;
				}
				@media (max-width: 680px) {
					font-size: 80px;
					line-height: 90px;
				}
				@media (max-width: 575px) {
					font-size: 65px;
					line-height: 75px;
				}
				@media (max-width: 480px) {
					font-size: 50px;
					line-height: 60px;
					letter-spacing: 0;
				}

				&:before {
					content: "";
					top: 0;
					left: 44%;
					z-index: -1;
					width: 170px;
					height: 170px;
					position: absolute;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(../images/home-2/circle.svg);

					@media (max-width: 1399px) {
						left: 42%;
					}

					@media (max-width: 991px) {
						left: 36%;
						width: 130px;
						height: 130px;
					}
					@media (max-width: 480px) {
				    display: none;
					}
				}

				span {
					margin-right: 450px;

					@media (max-width: 991px) {
						margin-right: 320px;
					}
					@media (max-width: 480px) {
					   margin-right: 100px;
					}
				}
			}

			p {
		    top: 46%;
		    left: 63%;
		    font-size: 20px;
		    font-weight: 400;
		    position: absolute;

		    @media (max-width: 991px) {
		    	top: 42%;
		    	left: 69%;
		    }
		    @media (max-width: 680px) {
		    	left: 62%;
		    }
		    @media (max-width: 575px) {
	  	    	left: 56%;
	  	    	top: 33%;
		    }
		    @media (max-width: 480px) {
		    	left: 24%;
		    	top: 50%;
		    }
			}

			a {
				top: 49%;
				right: 16%;
				color: #EB044F;
				font-size: 15px;
				font-weight: 500;
				position: absolute;
				line-height: normal;
				text-decoration: underline;

				@media (max-width: 1199px) {
				 	top: 68%;
	  				right: 16%;
				}
				/* @media (max-width: 991px) {
					padding-bottom: 60px;
				} */
				@media (max-width: 480px) {
					top: 80%;
					right: 44%;
				}

				&:hover {
					color: $secondary;
				}
			}
		}

	 	.our-client-banner {
			
			.item {
				float: none;
				display: table-cell;
				vertical-align: middle;
				width: 400px !important;
				margin-left: 30px;
				padding-right: 30px;
			}
	 	}	
	}

	.instagram {
		overflow: hidden;
		padding-top: 60px;

		@media (max-width: 680px) {
			padding-top: 30px;
		}

		.icon-wrapper {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			
			i {
				color: #575757;
				font-size: 40px;

				@media (max-width: 480px) {
					font-size: 30px;
				}
			}

			.title {
				margin-left: 10px;
				font-size: 30px;
				color: #575757;

				@media (max-width: 480px) {
					font-size: 25px;
				}
			}
		}

		.instagram__post {
			overflow: hidden;

			.media {
				overflow: hidden;
				img {
					width: 100%;
					transition: all 0.3s ease;

					@media (max-width: 767px) {
						margin-bottom: 30px;
					}

					&:hover,:focus {
						z-index: 1;
						background: #03041D;
						transform: scale(1.1);
					}
				}
			}
		}
	}

	.varsha-dhikari {
		overflow: hidden;

		.hm-2-video {
	    	z-index: -1;
	    	min-width: 532px;
	    	margin-right: 86px;
		   	position: relative;
	    }

	  .youtube-video {
	    display: flex;
	    position: relative;
	    align-items: center;
	    justify-content: center;

	    img {
	    	width: 100%;
	    	max-width: 100%;
			z-index: 1;
	    	position: relative;
	    }

	    &:before {
	    	top: 0;
	    	left: 0;
	    	z-index: 1;
	    	content: "";
	    	width: 100%;
	    	height: 100%;
	    	opacity: 100%;
	    	position: absolute;
	    	background: #03041D;
	    }

	    &:after {
	      z-index: 2;
	      margin: auto;
	      color: $white;
	      height: 160px;
	      display: flex;
	      line-height: 0;
	      font-size: 40px;
	      min-width: 160px;
	      content: "\e812";
	      text-indent: 5px;
	      position: absolute;
	      align-items: center;
	      border-radius: 500px;
	      font-family: "dailo";
	      transform: scale(1.2);
	      justify-content: center;
	      border: 1px solid $white;
	      @include transition(all 0.3s ease);


	     	@media (max-width: 1199px) {
	     		height: 120px;
	     		min-width: 120px;
	     		font-size: 35px;
	     	}
	     	@media (max-width: 991px) {
	     		height: 80px;
	     		min-width: 80px;
	     		font-size: 30px;
	     	}
	     	@media (max-width: 767px) {
	     		height: 60px;
	     		min-width: 60px;
	     		font-size: 25px;
	     		animation: none;
	     	}
	     	@media (max-width: 680px) {
	     		height: 50px;
	     		min-width: 50px;
	     		font-size: 15px;
	     	}
	    }


	    &:hover,
	    &:focus {
	      &:after {
	        color: #fff;
	        transform: scale(1);
	        background: $primary;
	        border: transparent;
			  animation: tp-ripple 1.2s linear infinite;
	      }
	    }
	  }

	   
		.varsha-dhikari-slider {
			overflow: hidden;

			&__item {
				text-align: center;

				p {
					max-width: 611px;
					margin-top: 60px;
					margin-left: auto;
					margin-right: auto;

					@media (max-width: 680px) {
						margin-top: 40px;
					}
				}

				.author {

					.name {
						margin: 20px;
					}

					.media {
						align-items: center;
						justify-content: center;

						img {
							width: 100px;
							height: 100px;
						}
					}
				}
			}
		}

		.slick-dots {
			display: flex;
			margin-left: 0px;
			margin-top: 35px;
			position: initial;
			list-style-type: none;
			justify-content: center;

			@media (max-width: 680px) {
				display: none !important;
			}
			
			li {
				margin: 0 5px;

				button {
					padding: 0;
					width: 14px;
					font-size: 0;
					height: 14px;
					display: flex;
					line-height: 0;
					position: relative;
					border-radius: 14px;
					align-items: center;
					text-indent: -9999px;
					justify-content: center;
					background: rgba(235, 4, 79, 0.10);
				}

				&.slick-active {

					button {
						background: $primary;
					}
				}
			}	
		}
	}

	.hm-2-services {
		margin-top: 180px;
		position: relative;
		margin-bottom: 120px;

		@media (max-width: 1399px) {
			margin-top: 100px;
			margin-bottom: 0;
		}
		@media (max-width: 1199px) {
			margin-top: 80px;
		}
		@media (max-width: 991px) {
			margin-top: 60px;
		}
		@media (max-width: 767px) {
			margin-top: 40px;
		}
		@media (max-width: 680px) {
			margin-top: 20px;
		}


		.container-lg {

			&:before {
				left: 0;
				top: -75px;
				content: "";
				width: 1330px;
				height: 895px;
				margin-left: 0px;
				position: absolute;
				border: 2px solid $primary;

				@media (max-width: 1399px) {
					width: 925px;
					margin-left: 0;
					height: 800px;
				}
				@media (max-width: 1200px) {
					width: 80px;
					margin-left: 0;
				}

				@media (max-width: 1199px) {
					display: none;
				}
			}
		}

		.entry-title {
			max-width:941px;
			margin-top: 20px;

			.title {
				color: #03041D;
				font-size: 153px;
				font-weight: 500;
				margin-bottom: 70px;
				font-family: $grotesk;
				letter-spacing: -4.8px;

				@media (max-width: 1880px) {
					font-size: 115px;
				}

				@media (max-width: 1325px) {
					font-size: 100px;
				}

				@media (max-width: 1199px) {
					font-size: 100px;
					margin-bottom: 50px;
					letter-spacing: -4.8px;
				}
				@media (max-width: 991px) {
					font-size: 80px;
					margin-bottom: 40px;
				}
				@media (max-width: 767px) {
					font-size: 60px;
					margin-bottom: 30px;
					letter-spacing: 0px;
				}
				@media (max-width: 480px) {
					font-size: 40px;
					margin-bottom: 20px;
					letter-spacing: 0px;
				}
			}	

			p {
				color: #525257;
				font-size:20px;
				max-width:910px;
				margin-bottom: 63px;

				@media (max-width: 680px) {
					margin-bottom: 50px;
				}
				@media (max-width: 480px) {
					margin-bottom:30px;
				}
			}
		}

		&__item {
			margin-bottom: 40px;
			position: relative;
			overflow: hidden;

			&:hover .sub-title {
				color: $primary;
			}
			&:hover i {
				color: $primary;
			}


			.icon-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;

				i {
					display: flex;
					padding: 35px;
					font-size: 70px;
					min-width: 70px;
					min-height: 70px;
					border: 1px solid;
					text-align: center;
					align-items: center;
					border-radius: 500px;
					justify-content: center;
					transition: all 0.3s ease;

					@media (max-width: 1199px) {
						padding: 30px;
						font-size: 60px;	
					}
					@media (max-width: 767px) {
						padding: 25px;
	    				font-size: 50px;
					}
					@media (max-width: 680px) {
						padding: 20px;
	    				font-size: 35px;
					}
					@media (max-width: 680px) {
						padding: 15px;
	    				font-size: 25px;
					}
				}
			}

			.sub-title {
				font-size: 30px;
				margin-top: 30px;
				line-height: 34px;

				@media (max-width: 1199px) {
					font-size: 20px;	
				}

				@media (max-width: 680px) {
					margin-top: 25px;
					font-size: 20px;
				}
			}

			
		}
		.hm-2-services__item-1 {
			margin-top: 85px;

			@media (max-width: 575px) {
				margin-top: 0;
				margin-bottom: 30px;
			}

			a {
				color: $black;
				font-size: 15px;
				font-weight: 500;
				text-decoration: underline;

				&:hover, :focus {
					color: $primary;
				}
			}
		}

		.hm-2-servicises {
			margin-left: 75px;
			margin-right: -133px;

			.hm-2-services-slider {
				
				.media {
					position: relative;
					img {
						width: 100%;
						max-width: 100%;
						position: relative;

					}
				}
			}
		}
		.slick-dots {
			display: flex;
			margin-left: 0px;
			list-style-type: none;
			bottom: -50px;
			justify-content: center;
			
			li {
				margin: 0 5px;

				button {
					padding: 0;
					width: 14px;
					font-size: 0;
					height: 14px;
					display: flex;
					line-height: 0;
					position: relative;
					border-radius: 14px;
					align-items: center;
					text-indent: -9999px;
					justify-content: center;
					background: rgba(235, 4, 79, 0.10);
				}

				&.slick-active {

					button {
						background: $primary;
					}
				}
			}	
		}
	}

	.hm-2-photographi{
		overflow: hidden;
		@media (max-width: 767px) {
			margin-bottom: 60px;
		}
		
		@media (max-width: 575px) {
			margin-bottom: 50px;
		}
		

		.entry-title {
			margin-bottom: 55px;

			@media (max-width: 767px) {
				margin-bottom: 40px;
			}
			@media (max-width: 480px) {
				margin: 30px;
			}

			.hm-title {
				color: #03041D;
				font-size: 148px;
				font-style: normal;
				font-weight: 500;
				text-align: center;
				line-height: normal;
				font-family: $grotesk;
				letter-spacing: -4.8px;

				@media (max-width: 1199px) {
					font-size: 120px;
				}

				@media (max-width: 991px) {
					font-size: 80px;
				}
				@media (max-width: 767px) {
					font-size: 50px;
					letter-spacing: 0px;
				}
				@media (max-width: 480px) {
					font-size: 30px;
				}
			}
		}
	}

	.hm-2-anthony {
		margin: 60px 0;
		padding: 65px 0;
		overflow: hidden;
		background: #F5F5F5;

		@media (max-width: 1199px) {
			margin: 40px 0;
			padding: 50px 0;
		}

		@media (max-width: 767px) {
			margin-top: 0;
			margin-bottom: 30px;
		}

		.media {

			img {
				width: 100%;
				min-height: 820px;

				@media (max-width: 1199px) {
					min-height: auto;
				}
			}
		}

		.content {
			max-width:924px;
			margin-top: 82px;

			@media (max-width: 991px) {
				margin-top: 50px;
			}

			.title {
				font-size: 160px;
				font-weight: 500;
				margin-left: -135px;	
				font-family: $grotesk;
				letter-spacing: -4.8px;
				text-transform: uppercase;

				@media (max-width: 1199px) {
					font-size: 120px;
					margin-left: -107px;
				}
				@media (max-width: 991px) {
					font-size: 100px;
					margin-left: -93px;
				}

				@media (max-width: 767px) {
					font-size: 80px;
					margin-left: 0px;
				}

				@media (max-width: 680px) {
					font-size: 60px;
				}

				@media (max-width: 480px) {
					font-size: 40px;
					letter-spacing: 0;
				}

				span {
					color: $white;
				}
			}

			.sub-title {
				margin-top: 77px;
				font-size: 160px;
				font-weight: 500;
				margin-bottom: 90px;	
				margin-left: -262px;
				font-family: $grotesk;
				letter-spacing: -4.8px;
				text-transform: uppercase;

				@media (max-width: 1199px) {
					margin-top: 51px;
			    font-size: 120px;
			    margin-bottom: 60px;
			    margin-left: -204px;
				}
				@media (max-width: 991px) {
					margin-top: 40px;
					font-size: 100px;
					margin-bottom: 50px;
					margin-left: -172px;
				}

				@media (max-width: 767px) {
					font-size: 80px;
					margin-left: 0px;
					margin-top: 20px;	
					margin-bottom: 30px;
				}
				@media (max-width: 680px) {
					font-size: 60px;
					margin-top: 30px;	
					margin-bottom: 40px;
				}

				@media (max-width: 480px) {
					font-size: 40px;
					margin-bottom: 30px;
					margin-top: 0px;
					letter-spacing: 0;
				}

				span {
					color: $white;
				}
			}

			p {
				color: #525257;
				font-size: 20px;
				margin-bottom: 10px;
			}

			ul {
				display: flex;
				margin-top: 148px;	
				text-align: center;

					@media (max-width: 1199px) {
						margin-top: 120px;	
					}

					/* @media (max-width: 991px) {
						margin-top: 100px;
					} */

					@media (max-width: 767px) {
						margin-top: 100px;
					}
					@media (max-width: 680px) {
						margin-top: 80px;
					}
					@media (max-width: 575px) {
						margin-top: 50px;
					}
					@media (max-width: 480px) {
						display: block;
						margin-top: 30px;
					}

				.number {
					color: #03041D;
					display: inline-block;
					font-size: 160px;
					margin-top: -45px;

					@media (max-width: 1199px) {
						font-size: 120px;	
					}

					@media (max-width: 991px) {
						font-size: 100px;	
					}

					@media (max-width: 767px) {
						font-size: 80px;
					}
					@media (max-width: 680px) {
						font-size: 60px;
					}
					@media (max-width: 575px) {
						font-size: 40px;
					}

					@media (max-width: 480px) {
						margin-top: 0;
					}
				}

				li {
					color: #03041D;
					font-size: 20px;
					font-weight: 400;
					line-height: 30px;
					margin-right: 50px;
					
					a {
						color: #03041D;
						font-size: 20px;
						font-weight: 400;
						line-height: 30px;
						margin-right: 50px;
						
						&:hover {
							color: $primary;
						}
					}
					
					&:first-child {
						margin-right: 0;
						margin-right: 100px;
						
						@media (max-width: 1570px) {
							margin-right: 50px;
						}
						
						@media (max-width: 1199px) {
							margin-right: 12px;
						}
					}
					
					@media (max-width: 1399px) {
						margin-right: 40px;		
					}

					@media (max-width: 1199px) {
						margin-right: 12px;	
						font-size: 17px;		
					}

					@media (max-width: 480px) {
						margin-bottom: 30px;
					}

					i {
						width: 33px;
						padding: 8px;
						height: 33px;
						color: $white;
						cursor: pointer;
						font-size: 14px;
						line-height: 17px;
						margin-right: 10px;
						background: #1877F2;

						&.fa-instagram {
					    	background: linear-gradient(225deg, #4F5BD5 0%, #962FBF 24.94%, #D62976 53.95%, #FA7E1E 79.17%, #FEDA75 100%);
						}
					}
				}
			}
		}
	}

	.hm-2-cio {
		overflow: hidden;

		.hm-2-cio-founder-slider {

			&__item {

				.icon-wrapper {

					i {

					}
				}

				p {
					font-size: 20px;
					font-weight: 400;
					max-width: 603px;
					line-height: 36px;
					margin-bottom: 30px;
				}

				.name {
					font-size: 18px;
					color: #03041D;
					font-size: 18px;
					font-weight: 700;
				}

				.title {
					font-size: 16px;
				}
			}
		}

		.slick-dots {
			display: flex;
			margin-left: -226px;
			list-style-type: none;
			justify-content: center;
			
			li {
				margin: 0 5px;
			}
		
			button {
				width: 20px;
				display: block;
				border-radius: 2px;
				text-indent: -9999px;
				padding: 0 !important;
				height: 4px !important;
				opacity: 0.699999988079071;
				background: rgba(3, 4, 29, 0.30)!important;
			}
		
			li.slick-active button {
				background-color: red !important;
			}	
		}
	}
	.instagram__post {
	 	margin: 30px 0;
	 	display: flex;
		overflow: hidden;
	  	position: relative;
	    transition: transform 1s;
		margin-bottom: 0 !important;

		&:hover .card-cover {
		  	background: #03041D;
		  	transform: scale(1.5);
		}
		&:hover .card-body {

			&:after {
				opacity:0.7;
				transform: scale(1);
			}

			i {
				opacity: 1;
				transform: scale(1);
			}
		}

	    .card-cover {
	       opacity: 0;
	       width: 100%;
	       height: 100%;
	       display: flex;
	       position: absolute;
	       align-items: center;
	       justify-content: center;
	    }

	  	.card-image {
	    	width: 100%;
	    	height: 100%;
	    	object-fit: cover;
	  	}

	    .card-body{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			position: absolute;
			align-items: center;
			box-sizing: border-box;
			justify-content: center;

			i {
				z-index: 5;
				opacity: 0;
				color: $white;
				font-size:30px;
				transform: scale(0);
				position: relative;
				transition: all 0.3s ease;
			}

			&:after {
			   left: 0;
			   bottom: 0;
			   opacity: 0.7;
				opacity: 0;
				content: "";
			   width: 100%;
			   height: 100%;
				z-index: 1;
			   color: #FFFFFF;
			   font-size: 30px;
			   position: absolute;
			   background: #03041D;
			   transform: scale(0);
			   transition: all 0.5s ease;
			}
	    }
	}
}


.content-area {

	&.home-2 {
		padding-left: 100px;

		@media (max-width: 1660px) {
			padding-left: 50px;
		}

		@media (max-width: 767px) {
			padding-left: 0;
		}
	}
}

.footer-1.home-2, .Photography.home-2 {
	padding-left:100px;

	@media (max-width: 1660px) {
		padding-left: 50px;
	}

	@media (max-width: 767px) {
		padding-left: 0;
	}
}